/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-page: rgba(255, 241, 247, 1);
  --color-them: rgba(53, 52, 48, 1);
  --color-outline-hover: rgba(50, 49, 45, 0.4);
  --color-big-headlines: rgba(255, 194, 230, 1);
  --color-big-headlines-shadow: rgba(255, 141, 203, 1);
  --color-title: rgba(53, 52, 48, 1);
  --background-color-title: rgba(255, 141, 203, 1);
  --color-footnote: rgba(255, 0, 112, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-page: rgba(255, 241, 247, 1);
    --color-them: rgba(53, 52, 48, 1);
    --color-outline-hover: rgba(50, 49, 45, 0.4);
    --color-big-headlines: rgba(255, 194, 230, 1);
    --color-big-headlines-shadow: rgba(255, 141, 203, 1);
    --color-title: rgba(53, 52, 48, 1);
    --background-color-title: rgba(255, 141, 203, 1);
    --color-footnote: rgba(255, 0, 112, 1);  
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
