/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: var(--page-width);
  margin: auto;
  background-color: var(--color-page);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*header*/
.header {
  display: grid;
  block-size: var(--header-block-size);
  grid-template-columns: 1fr min-content; /*1fr 1fr 1fr 1fr*/
  grid-template-rows: 2fr 1fr 2fr;  /*1fr min-content 1fr*/
  padding: var(--header-padding);
  margin-bottom: var(--header-margin-bottom);
}

/*темы*/
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--decorated-zone-before-top);
  right: var(--decorated-zone-before-right);
  border-top: 1px solid var(--color-them);
  border-right: 1px solid var(--color-them);
  padding: 20px 20px 0 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--decorated-zone-after-top);
  left: var(--decorated-zone-before-right);
  border-bottom: 1px solid var(--color-them);
  border-left: 1px solid var(--color-them);
}

/*.header_rec_theme {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/

.header__theme-menu {
  grid-column: 1 / 3;
  display: grid;
  /*justify-content: end;*/
  margin-top: var(--header__theme-menu-margin-top);
}

.header__theme-menu-list {
  display: flex;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  padding-left: 20px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--font-size);
  line-height: 18px;
  color: var(--color-them);
}

.header__theme-menu-button {
  min-width: 70px;
  height: 26px;
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: transparent;
  border-style: none;
  text-transform: lowercase;
  cursor: pointer;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-outline-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-them);
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--color-them);
  pointer-events: none;
}

/*rec с лампочкой*/

/*.header__rec_col {
  display: grid;
  justify-content: end;
  padding-right: 10px;
}*/

.header__rec {
  display: flex;
  position: absolute;
  top: var(--decorated-zone-before-top);
  right: var(--decorated-zone-before-right);
  margin-right: 10px;
  width: 50px;
  height: 26px;
  justify-content: space-between;
  align-items: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--color-rec);
}

/*.light_bulb {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  background: transparent;
}*/

.header__rec::after {
  content: '';
  display: flex;
  align-items: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-light_bulb);
  box-shadow: 0px 0px 4px 2px var(--color-light_bulb);
}


/*заголовок*/

.big_headlines {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--big_headlines-font-size);
  line-height: var(--big_headlines-line-height);
  color: var(--color-big-headlines);
  text-shadow: 4px 4px 0px var(--color-big-headlines-shadow);
  grid-column: 1 / 3;
  display: grid;
}


/**/

/*.header_title_main {
  grid-column: 3 / 5;
  display: grid;
  justify-content: end;
  align-items: center;
  margin-bottom: var(--header_title_main-m-b);
}*/

.header_title {
  grid-column: 2 / 3;
  margin-top: 95px;
  inline-size: var(--header_title-inline);
  block-size: var(--header_title-block);
}

.title-caption {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color-title);
  background-color: var(--background-color-title);
  font-weight: bold;
  margin-bottom: 10px;
}

/*меню*/

.main {
  display: grid;
  gap: var(--main-gap);
  margin-bottom: var(--main-margin-bottom);
}

.content_section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: var(--padding-main);
  gap: var(--hard_concentrate-gap);
}

/* секция про сложность сосредоточиться */

.theme_main {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color-theme_main);
}

.main_text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color-main_text);
}

.link-in_text {
  text-shadow: 1px 1px 0px var(--color-big-headlines-shadow);
  text-decoration: none;
}

.link-in_text:hover {
  outline: none;
  border-bottom: 1px solid var(--color-main_text);
}

.link-in_text:focus {
  border-bottom: none;
  outline: 1px solid var(--color-main_text);
  outline-offset: -1px;
}

/* секция что снижает концентрацию */

.decreased_concentration {
  grid-template-columns: 1fr;
  gap: 20px;
}

/*.heading_theme {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/

.heading_theme_main {
  grid-column: 1 / 2;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.decreased_concentration_answer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--decreased_concentration_answer-gap);
}

/* секция с советами по концетрации */

.how_concentrate_answer .title-caption,
.gallery  .title-caption {
  margin-bottom: 20px;
}

.title-tips {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color-title-tips);
  background-color: var(--background-color-title-tips);
  margin: 10px 0;
}

.main_text:not(:last-child) {
  margin-bottom: 20px;
}

/*секция с картинками*/

.gallery {
  display: grid;
  padding: var(--padding-main);
}

.img {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 314px;
  grid-template-rows: 260px 315px 433px;
  gap: var(--img-gap);
  box-sizing: border-box;
  grid-auto-flow: dense;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__item:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__item:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

/*подвал*/

.footer {
  width: 100%;
  block-size: var(--header-block-size);
  display: grid;
  justify-content: center;
  align-items: center;
}

h6 .big_headlines {
  text-shadow: 2px 2px 0px var(--color-big-headlines-shadow);
  text-align: center;
}

@media (width <= 768px) {

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: start;
  }

  .header_rec_theme {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  
  .header__theme-menu {
    /*grid-row: 2 / 3;*/
    grid-column: 2 / 3;
    justify-items: end;
    align-items: center;
  }

  .big_headlines {
    align-items: center;
    
  }

  h1.big_headlines {
    padding-bottom: 15px;
  }

  .heading_theme {
    grid-template-columns: 1fr 3fr;
  }

  .header_title {
    margin-top: 100px;
  }
  
  .decreased_concentration_answer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .img {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 190px 230px 320px;
  }  
}

@media (width <= 375px) {

  .footer .big_headlines {
    padding-top: 20px;
  }

  .header_title {
    margin-top: 45px;
  }

  .header_rec_theme {
    grid-template-rows: 1fr 3fr;
  }
  
  .heading_theme {
    grid-template-columns: 1fr;
  }

  .hard_concentrate {
    grid-template-columns: 1fr;
    inline-size: 375px;
  }

  .heading_theme_main {
    grid-template-columns: 1fr;
  }

  .header__theme-menu {
    margin-top: 0px;
  }

  .theme_main {
    inline-size: 350px;
  }

  .header_title .title-caption {
    margin-top: 30px;
  }

  .how_concentrate {
    grid-template-columns: 1fr;
    gap: 18px;
  }
  
  .gallery,
  .decreased_concentration,
  .how_concentrate {
    inline-size: 375px;
  }

  .gallery .title-caption {
    margin-bottom: 10px;
  }

  .img {
    grid-template-columns: 1fr;
    grid-template-rows: 142px 355px 237px 355px 237px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .gallery__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .gallery__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .gallery__item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}