/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-page: rgba(0, 0, 40, 1);
  --color-them: rgba(255, 0, 112, 1);
  --color-outline-hover: rgba(255, 0, 112, 0.4);
  --color-rec: rgba(255, 0, 112, 1);
  --color-rec-light: rgba(255, 0, 112, 1);
  --color-big-headlines: rgba(219, 0, 255, 1);
  --color-big-headlines-shadow: rgba(255, 0, 112, 1);
  --color-title: rgba(0, 0, 40, 1);
  --background-color-title: rgba(255, 0, 112, 1);
  --color-theme-main: rgba(255, 0, 112, 1);
  --color-main-text: rgba(241, 178, 206, 1);
  --color-title-tips: rgba(0, 0, 40, 1);
  --background-color-title-tips: rgba(255, 0, 112, 1);
  --color-footnote: rgba(255, 0, 112, 1);

  --font-size: clamp(16px, 4vw, 18px);
  --page-width: 1024px;
  --header-block-size: 100vh;
  --header-title-inline: 491px;
  --header-title-block: 71px;
  --big-headlines-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --header-title_main-m-b: 40px;
  --hard-concentrate-gap: 10px;
  --decreased-concentration-answer-gap: 20px;
  --how-concentrate-gap: 12px;
  --header-padding: 20px 20px 0 0;
  --decorated-zone-before-top: 20px;
  --decorated-zone-before-right: 20px;
  --decorated-zone-after-top: calc(100vh - 40px);
  --header-margin-bottom: 60px;
  --padding-main: 0 20px;
  --main-gap: 80px;
  --img-gap: 20px;
  --main-margin-bottom: 60px;
  --header-theme-menu-margin-top: 0;
  --big-headlines-line-height: 129.53px;
}

@media (width <= 768px) {
  :root {
    --page-width: 100vh;
    --header-title-inline: 364px;
    --header-title-block: 117px;
    --header-title_main-m-b: 80px;
    --hard-concentrate-gap: 20px;
    --how-concentrate-gap: 23px;
    --header-theme-menu-margin-top: 40px;
  }
}

@media (width <= 375px) {
  :root {
    --page-width: 375px;
    --header-block-size: 668px;
    --header-title-inline: 355px;
    --header-title-block: 117px;
    --big-headlines-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --header-padding: 10px 10px 0 10px;
    --decorated-zone-before-top: 10px;
    --decorated-zone-before-right: 10px;
    --decorated-zone-after-top: calc(668px - 40px);
    --header-margin-bottom: 40px;
    --padding-main: 0 10px;
    --main-gap: 50px;
    --img-gap: 10px;
    --main-margin-bottom: 35px;
    --header-theme-menu-margin-top: 8px;
    --big-headlines-line-height: 95.7px;
  }
}

